---
slug: edit-user
layout_name: application
---


<div class="container">
  <div class="row">
    <div style="height:150px">
    <p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
<h2>Edit User Details</h2>

{%- query_graph 'current_user', result_name: g, id: {{params.slug2}} -%}
{% render_form 'client_sign_up', resource_id: @g.current_user.id %}

</div>
</div>
